.recaptcha_is_showing_audio #u1254.mode-audio
{
	background: transparent url("../images/recaptchamodeimage.png") no-repeat center center;
	background-size: contain;
}

.recaptcha_isnot_showing_audio #u1254.mode-image
{
	background: transparent url("../images/recaptchamodeaudio.png") no-repeat center center;
	background-size: contain;
}

.recaptcha_is_showing_audio #u1254.mode-audio:hover
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
	background: transparent url("../images/recaptchamodeimagerollover.jpg") no-repeat center center;
	background-size: contain;
}

.recaptcha_isnot_showing_audio #u1254.mode-image:hover
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
	background: transparent url("../images/recaptchamodeaudiorollover.jpg") no-repeat center center;
	background-size: contain;
}

.recaptcha_isnot_showing_audio #u1254.mode-image:active
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
	background: transparent url("../images/recaptchamodeaudiomousedown.jpg") no-repeat center center;
	background-size: contain;
}

.recaptcha_is_showing_audio #u1254.mode-audio:active
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
	background: transparent url("../images/recaptchamodeimagemousedown.jpg") no-repeat center center;
	background-size: contain;
}

.version.registro /* version checker */
{
	color: #00000B;
	background-color: #7D4267;
}

#page
{
	z-index: 1;
	min-height: 421px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 79px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u261
{
	z-index: 2;
	position: relative;
	width: 95.84%;
	margin-left: 2.09%;
}

#pmenuu335
{
	width: 95.84%;
	margin-left: 2.09%;
}

#menuu335
{
	z-index: 4;
	position: relative;
	margin-right: -10000px;
	width: 48.48%;
}

#u343
{
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	width: 32.96%;
}

#u344
{
	padding-bottom: 3px;
	position: relative;
	width: 100%;
}

#u344:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u344:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u336
{
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	width: 32.96%;
	left: 33.41%;
}

#u337
{
	padding-bottom: 3px;
	position: relative;
	width: 100%;
}

#u344.MuseMenuActive,#u337:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u337:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u380
{
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	width: 33.19%;
	left: 66.82%;
}

#u383
{
	padding-bottom: 3px;
	position: relative;
	width: 100%;
}

#u337.MuseMenuActive,#u383:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u383:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u383.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u346-4_clip,#u339-4_clip,#u384-4_clip
{
	height: 17px;
	width: 100%;
}

#u346-4,#u339-4,#u384-4
{
	position: relative;
	margin-right: -10000px;
	top: 1px;
	width: 100%;
}

#u468
{
	z-index: 24;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	width: 9.14%;
	left: 48.48%;
}

#u460
{
	z-index: 23;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	width: 42.4%;
	left: 57.61%;
}

#widgetu1121
{
	z-index: 25;
	width: 0.01px;
	height: 298px;
	margin-top: 16px;
	position: relative;
	margin-left: 32.19%;
}

#widgetu1134
{
	z-index: 26;
	width: 342px;
	height: 47px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu1134.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1136-4
{
	z-index: 27;
	width: 200px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1134.fld-err-st #u1136-4
{
	border-width: 0px;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u1137-4
{
	z-index: 31;
	width: 328px;
	min-height: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#muse_css_mq,#widgetu1134.non-empty-st #u1137-4
{
	background-color: #FFFFFF;
}

#widgetu1134:hover #u1137-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1134.focus-st #u1137-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1134.non-empty-st #u1137-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1134:hover #u1137-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1134.focus-st #u1137-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u1135-4
{
	z-index: 35;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	line-height: 14px;
	text-align: right;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu1126
{
	z-index: 39;
	width: 342px;
	height: 47px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: -1px;
}

#widgetu1126.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 56px -10000px 0px 0px;
}

#u1127-4
{
	z-index: 40;
	width: 200px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1128-4
{
	z-index: 44;
	width: 328px;
	min-height: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1126.non-empty-st #u1128-4
{
	background-color: #FFFFFF;
}

#widgetu1126:hover #u1128-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1126.focus-st #u1128-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1134.fld-err-st #u1137-4,#widgetu1126.fld-err-st #u1128-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1126.non-empty-st #u1128-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1126:hover #u1128-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1126.focus-st #u1128-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u1129-4
{
	z-index: 48;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	line-height: 14px;
	text-align: right;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#u1122
{
	z-index: 53;
	height: 21px;
	width: 338px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 2px;
}

#widgetu1121.frm-sub-st #u1122
{
	background: url("../images/u1122-fs.png") no-repeat 0px 0px;
}

#u1124
{
	z-index: 56;
	height: 35px;
	width: 340px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
}

#widgetu1121.frm-subm-err-st #u1124
{
	background: url("../images/u1124-fse.png") no-repeat 0px 0px;
}

#u1123
{
	z-index: 59;
	height: 22px;
	width: 340px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 268px;
}

#widgetu1121.frm-subm-ok-st #u1123
{
	background: url("../images/u1123-fss.png") no-repeat 0px 0px;
}

#u1125-17
{
	z-index: 61;
	min-height: 31px;
	width: 131px;
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	left: 105px;
	background: url("../images/u1125-17.png") no-repeat 0px 0px;
}

#u1125-17:hover
{
	background: url("../images/u1125-17-r.png") no-repeat 0px 0px;
}

#u1125-17:active
{
	background: url("../images/u1125-17-m.png") no-repeat 0px 0px;
}

#widgetu1121.frm-sub-st #u1125-17
{
	background: url("../images/u1125-17-fs.png") no-repeat 0px 0px;
}

#widgetu1244
{
	z-index: 78;
	width: 342px;
	height: 109px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: -1px;
}

#widgetu1244.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 109px;
	min-height: 0px;
	margin: 111px -10000px 0px 0px;
}

#u1245-4
{
	z-index: 79;
	width: 200px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1126.fld-err-st #u1127-4,#widgetu1244.fld-err-st #u1245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u1246-4
{
	z-index: 83;
	width: 328px;
	min-height: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
}

#widgetu1244.non-empty-st #u1246-4
{
	background-color: #FFFFFF;
}

#widgetu1244:hover #u1246-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 81px -10000px 0px 0px;
}

#widgetu1244.focus-st #u1246-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 81px -10000px 0px 0px;
}

#widgetu1244.fld-err-st #u1246-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 81px -10000px 0px 0px;
}

#widgetu1244.non-empty-st #u1246-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1244:hover #u1246-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1244.focus-st #u1246-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1134.fld-err-st #u1137-4 *,#widgetu1126.fld-err-st #u1128-4 *,#widgetu1244.fld-err-st #u1246-4 *
{
	color: #D7244C;
	font-style: italic;
}

#u1247-4
{
	z-index: 87;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	line-height: 14px;
	text-align: right;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu1134.fld-err-st #u1135-4,#widgetu1126.fld-err-st #u1129-4,#widgetu1244.fld-err-st #u1247-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1134.fld-err-st #u1136-4 p,#widgetu1134.fld-err-st #u1136-4 span,#widgetu1134.fld-err-st #u1135-4 p,#widgetu1126.fld-err-st #u1127-4 p,#widgetu1126.fld-err-st #u1127-4 span,#widgetu1126.fld-err-st #u1129-4 p,#widgetu1244.fld-err-st #u1245-4 p,#widgetu1244.fld-err-st #u1245-4 span,#widgetu1244.fld-err-st #u1247-4 p
{
	color: #D7244C;
}

#recaptcha_image
{
	position: relative;
	width: 301px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 1px;
}

#u1254
{
	z-index: 92;
	width: 18px;
	height: 18px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 313px;
}

#u1298
{
	z-index: 93;
	width: 18px;
	height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 313px;
	background: transparent url("../images/recaptcharefresh.png") no-repeat center center;
	background-size: contain;
}

#u1298:hover
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 39px -10000px 0px 0px;
	background: transparent url("../images/recaptcharefreshrollover.jpg") no-repeat center center;
	background-size: contain;
}

#u1298:active
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 39px -10000px 0px 0px;
	background: transparent url("../images/recaptcharefreshmousedown.jpg") no-repeat center center;
	background-size: contain;
}

#u1321
{
	z-index: 94;
	width: 18px;
	height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 313px;
	background: transparent url("../images/recaptchahelp.png") no-repeat center center;
	background-size: contain;
}

#u1321:hover
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 58px -10000px 0px 0px;
	background: transparent url("../images/recaptchahelprollover.jpg") no-repeat center center;
	background-size: contain;
}

#u1321:active
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 58px -10000px 0px 0px;
	background: transparent url("../images/recaptchahelpmousedown.jpg") no-repeat center center;
	background-size: contain;
}

#widgetu1134_input,#widgetu1134_prompt,#widgetu1126_input,#widgetu1126_prompt,#recaptcha_response_field,#widgetu1244_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu1134.focus-st #widgetu1134_prompt,#widgetu1126.focus-st #widgetu1126_prompt,#widgetu1244.focus-st #widgetu1244_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu1134:hover #widgetu1134_input,#widgetu1134.focus-st #widgetu1134_input,#widgetu1134.fld-err-st #widgetu1134_input,#widgetu1134:hover #widgetu1134_prompt,#widgetu1134.fld-err-st #widgetu1134_prompt,#widgetu1126:hover #widgetu1126_input,#widgetu1126.focus-st #widgetu1126_input,#widgetu1126.fld-err-st #widgetu1126_input,#widgetu1126:hover #widgetu1126_prompt,#widgetu1126.fld-err-st #widgetu1126_prompt,#widgetu1244:hover #recaptcha_response_field,#widgetu1244.focus-st #recaptcha_response_field,#widgetu1244.fld-err-st #recaptcha_response_field,#widgetu1244:hover #widgetu1244_prompt,#widgetu1244.fld-err-st #widgetu1244_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu1134.non-empty-st #widgetu1134_prompt,#widgetu1126.non-empty-st #widgetu1126_prompt,#widgetu1244.non-empty-st #widgetu1244_prompt
{
	visibility: hidden;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

#u346-4_img,#u339-4_img,#u384-4_img
{
	width: 100%;
}

